#hero-text {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 300px;
  background: transparent;
  color: white;
  z-index: 100;
}
.hLine-1 {
  position: absolute;
  top: 80px;
  color: white;
  width: 100%;
  z-index: 1000;
}
.hLine-2 {
  position: absolute;
  bottom: 60px;
  color: white;
  width: 100%;
  z-index: 1000;
}
.vLine-1 {
  position: absolute;
  top: -10px;

  left: 20%;
  color: white;
  height: 100vh;
  z-index: 1000;
}
.vLine-2 {
  position: absolute;
  top: -10px;
  right: 20%;
  color: white;
  height: 100vh;
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  #hero-text {
    top: 50vw;
    left: 80px;
  }
}
