.home_hero_container .hLine-1,
.home_hero_container .hLine-2,
.home_hero_container .vLine-1,
.home_hero_container .vLine-2 {
  /* border-color: rgb(255 255 255 / 38%); */
  color: rgb(255 255 255 / 38%);
  border-style: solid;
  border-width: thin;
}
#hero-text {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 0;
  bottom: 0;
  /* background: transparent; */
  color: white;
  right: 0;
  padding: 25%;
  z-index: 100;
  overflow: hidden;
}
.hLine-1 {
  position: absolute;
  top: 80px;
  color: white;
  width: 100%;
  z-index: 1000;
}
.hLine-2 {
  position: absolute;
  bottom: 60px;
  color: white;
  width: 100%;
  z-index: 1000;
}
.vLine-1 {
  position: absolute;
  top: -10px;

  left: 20%;
  color: white;
  height: 100vh;
  z-index: 1000;
}
.vLine-2 {
  position: absolute;
  top: -10px;
  right: 20%;
  color: white;
  height: 100vh;
  z-index: 1000;
}
#hero_header_2 {
  font-family: var(--font-family_2);
}
#hero_header_1 {
  font-family: var(--font-family_2);
  font-weight: 100;
}
@media only screen and (max-width: 600px) {
  #hero-text {
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    padding: 5%;
  }
  #hero_header_2 {
    font-size: 29px;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  #hero_header_1 {
    font-size: 20px;
  }
}
