@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  font-family: 'Lato', Arial, sans-serif;
}

:root {
  /* clrs */
  --primary-clr: #90d6f7;
  --secondary-clr: #6c757d;
  --text-clr: #272b37;
  --background-clr: #ffffff;

  /* Typography */
  --font-family_1: 'Lato', Arial, sans-serif;
  --font-family_2: 'Crimson Text', serif;

  --heading-font-size: 24px;
  --body-font-size: 16px;
  /* --link-clr: #007bff; */

  /* Spacing */
  --padding-small: 8px;
  --padding-medium: 16px;
  --padding-large: 24px;
  --margin-small: 8px;
  --margin-medium: 16px;
  --margin-large: 24px;

  /* Breakpoints */
  --breakpoint-small: 480px;
  --breakpoint-medium: 768px;
  --breakpoint-large: 992px;

  /* Border */
  --border-radius: 4px;
  --border-clr: #cccccc;
  --border-width: 1px;

  /* Box Shadows */
  --box-shadow-card: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.page-container {
  margin: 90px 7rem;
}

@media (max-width: 600px) {
  .page-container {
    margin: 90px 2rem;
  }
}

@media (min-width: 1200px) {
  .page-container {
    margin: 90px 7rem;
  }
}
